body {font-family: sans-serif; text-align: center;}

.box {width: 100px; height: 100px; background-color: #00ffcc; margin-left: 10px; margin-right: 10px; margin-bottom: 20px; display: inline-block; color: #ff0066; font-size: 72pt; text-align: center;}

.selected {background-color: #00ffff
;}
